nav {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 60px;
    border: 1px solid #b9b7b7;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    padding: 15px;
    font-size: 22px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: green;
}

.sobremim {
    margin: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
    border: 1px solid #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    height: 500px;
    width: 40%;
    float: left;
}

.sobremim img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: auto;
}

h2 {
    text-align: center;
    margin: 20px;
    font-size: 40px;
    font-style: oblique;
}

p {
    padding: 20px;
    margin: 40px;
    text-align: center;
    font-size: 18px;
}

.projetos {
    background-color: #f9f9f9;
    border-radius: 20px;
    border: 1px solid #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 54%;
    float: right;
    height: 500px;
    margin: 20px;
}